<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Nhom13_GAEJ_URL_Fetch_Service</servlet-name>
		<servlet-class>com.gaejexperiments.networking.Nhom13_GAEJ_URL_Fetch_ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nhom13_GAEJ_URL_Fetch_Service</servlet-name>
		<url-pattern>/nhom13_gaej_url_fetch_service</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
	 <servlet-name>GAEJDictionaryService</servlet-name>
	 <servlet-class>com.gaejexperiments.networking.GAEJDictionaryService</servlet-class>
	 </servlet>
	<servlet-mapping>
	 <servlet-name>GAEJDictionaryService</servlet-name>
	 <url-pattern>/gaejdictionaryservice</url-pattern>
	 </servlet-mapping>
</web-app>
